.btn-link {
  text-decoration: none;
}

.btn-link:link {
  text-decoration: none;
}

.btn-link:visited {
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: none;
}

.btn-link:active {
  text-decoration: none;
}